.contact {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #f9f9f9;
	border-radius: 5px;
	margin-bottom: 10px;
}

.text {
	display: flex;
	align-items: center;
}

.text p {
	margin-left: 10px;
	font-size: 16px;
}

.btn {
	background-color: #dc3545;
	color: #fff;
	padding: 8px 16px;
	font-size: 14px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.btn:hover {
	background-color: #c82333;
}
